.tableWrapper {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 840px;
    margin: 0 auto;

}

.tablePlan {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
    transform-origin: top center;
    // transform: translate( -50%, -50%);
    @media screen and (max-width: 480px) {
        html {
          padding: 0 0.5rem;
        }}
}

.tables{
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    width:100%;
    margin: 2rem auto;
    padding: 0 1rem;
}

.tableMain {
    flex: 3 ;
    // grid-area: main;
    margin: auto;
}
