.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 24px auto;
}

.tableGrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    &:first-child {
        margin-top: 1rem;
    }

    &:last-child {
        margin-bottom: 1rem;
    }
}

.chairRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
