.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "main main main";

    align-items: center;
    width: 100%;
    margin: 24px auto;
}

.tableMain {
    // grid-column-start: 1;
    // grid-column-end: 3;
    grid-area: main;
    width: 240px;
    margin:auto
}

