.question {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 2px;
    // text-transform: uppercase;
    margin: 2rem auto 0;
    padding: 0.25rem ;
    text-align: left;
    color: #000000;
    max-width: 80vw;
}