.chairRow {
    display: flex;
    flex-direction: row;
}


.table {
    background: #013a1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px;

    &Number {
        text-align: center;
        align-self: center;
        color: #ffffff;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        margin: 0 auto;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem auto;
}