.chairRow {
    display: flex;
    flex-direction: column;
    &One{
        display: flex;
        flex-direction: row;
    }
}

.table {
    background: #013a1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 4rem;
    margin: 0 10px;
    @media screen and (max-width: 480px) {
        margin: 0 5px;
    }

    &One{
        @extend .table;
        width: 100%;
        height: 4rem;
        margin: 0;
    }

    &Number {
        text-align: center;
        align-self: center;
        color: #ffffff;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        margin: 0 auto;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    margin: 2.5rem auto;
    padding: 0 1rem;
    &One{
        @extend .wrapper;
        flex-direction: column;
    }
}
