.header {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3rem;
letter-spacing: 0.33em;
text-align: center;
color: #013A1E;
width: 50vw;
border-bottom: 1px solid #99C1C0;
margin: 24px auto 12px;
}