.buttonWrapper {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem 0;
    height: 36px;
    align-items: center;
    justify-content: center;

}

.button {
    font-family: "Montserrat", sans-serif;
    background: none;
    color: #1f2d24;
    border: none;
    margin:1rem;
    padding: 4px;
    &:active{
        border-width: 1px;
    }
    &:hover {
        transform: scale(1.05);
        border: 1.5px solid #1f2d24;
    }
    &Selected {
        @extend .button;
        font-weight: 600;
        color: #1f2d24;
        border: 1px solid #1f2d24;
        background: none;
        
    }
}
