.wrapper {
    background-image: url("../../assets/img/header-background.svg");
    background-attachment: local, scroll;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    min-height: 120px;
    max-height: 180px;
    min-width: 350px;
    display: flex;
    align-items: center;
    text-align: center;
}

.heading {
    width: 100%;
    color: #013a1e;
    font-family: "Taviraj", serif;
    // font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.25em;
    padding: 0.8rem;
    margin: 0;
    &:first-letter {
        font-size: 130%;
    }

    &Second {
        display: inline-block;
        font-size: 3.5rem;
        font-weight: 300;
        letter-spacing: 0.25em;
        &:first-letter {
            font-size: 130%;
        }
    }
}
