.bar {
    height: 2.5rem;
    width: 100%;
    background-color: #02341C;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    margin-right: 1.4rem;
    text-decoration: none;
    background: none;
    border: none;
}
