.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #c8ddd4;
    position: absolute;
    top: 2rem;
    right: 0;
}

.menuItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}