@keyframes cascade {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #02341C;
    position: absolute;
    width: 100%;
    top: 2.5rem;
    right: 0;
    animation: cascade 300ms ease-in-out forwards;
    transform-origin: top center;
    list-style: none;
    padding: 0 0 0.5rem 0;
    margin: 0;
}

.menuItem {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    
    padding: 0.5rem 1rem;
    text-align: center;

    &:hover {
        border-bottom: 0.01rem #4a5f558b;
        box-shadow: 0.04rem 0.04rem 0.04rem 0.05rem #384f448b;
        background-color: #394e4436;
    }

    &Link {
        text-decoration: none;  
        color: #FBFAFA;
        &:visited {
            color: #FBFAFA;
        }
    }
}
