.bar {
    height: 36px;
    width: 100%;
    background-color: #02341c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 800px) {
        height: 48px;
    }
}

.button {
    margin-right: 1.4rem;
    text-decoration: none;
    background: none;
    border: none;
    padding: 1rem;

    &Home {
        position: absolute;
        top: -1px;
        left: 1.4rem;
        text-decoration: none;
        background: none;
        border: none;
        padding: 0.5rem;
        @media screen and (max-width: 800px) {
            top: 3px;
        }
    }
}

svg {

    height: 30px;
    width: 30px;
}
