@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Mate+SC&family=Alegreya+Sans+SC:wght@300;400;500&family=Mate+SC&family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@300;400&family=Open+Sans:wght@300;400;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family:'Montserrat', sans-serif;
  color: #1F2D24;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFAFA;
  
}

