.chair {
    background: #fafafa;
    border: 0.5px solid #02341c;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 24px;
    height: 24px;
    margin: 10px 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    &:hover {
        background: rgba(200, 221, 212, 0.75);
    }

    &Highlight {
        @extend .chair;
        background: rgba(200, 221, 212, 0.75);
    }
}

.person {
    &Show {
        &Up {
            text-align: center;
            color: #000000;
            letter-spacing: 4px;
            font-size: 1rem;
            margin: 0;
            position: relative;
            bottom: 3rem;
        }

        &Down {
            text-align: center;
            color: #000000;
            letter-spacing: 4px;
            font-size: 1rem;
            margin: 0;
            position: relative;
            top: 2.5rem;
        }
    }

    &Hide {
        display: none;
    }
}
