.chair {
    background: #fafafa;
    border: 0.5px solid #02341c;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    &:hover {
        background: rgba(200, 221, 212, 0.75);
    }

    &Highlight {
        @extend .chair;
        background: rgba(200, 221, 212, 0.75);
    }
}

.person {
    &Show {
        &Up {
            display: block;
            text-align: center;
            color: #000000;
            letter-spacing: 4px;
            font-size: 1.2rem;
            margin: 0;
            position: relative;
            bottom: 3.5rem;
        }

        &Left {
            @extend .personShowUp;
            right: 3.5rem;
            bottom: 0;
            transform: rotate(0.75turn)
        }
        &Right {
            @extend .personShowUp;
            left: 3.5rem;
            bottom: 0;
            transform: rotate(0.25turn)
        }
    }

    &Hide {
        display: none;
    }
}
