@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.buttonUp {
    position: fixed; 
    bottom: 4rem;
    right: 0.5rem;
    height: 24px;
    width: 24px;
    padding: 0;
    border: none;
    background: #FBFAFA;
    border-radius: 50%;
    animation: fade ease-in-out 0.3s;
    transition: transform  ease-in-out 0.3s;
    &:hover {
        transform: scale(1.2);
    }

}

.noButton {
    display: none;
}